
.dynamic-btn {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.dynamic-span {
    /*display: inline-block;*/
    /*display: flex;*/
    justify-content: center;
    width: 100%;
    height: 40px;
    display: inline-flex;
    align-items: center;
    border: none;
    padding: 0;
    background: #137dc1;
    color: #333;
    border-left: 0;
    border-top: 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition:
            transform 0.15s ease-out,
            background-color 0.15s ease-out;
}
.dynamic-span:hover {
    transform: translate(-6px, -6px);
    color: #fff;
    background: #faa91a;
}

.card-btn{
    width: 50%;
    height: 30%;
}

.fit-text-btn {
    width: fit-content;
    height: fit-content;
}

.hide {
    opacity: 0 !important;
}
