.LineUp-body {
    background-color: #0e567e;
}

.title-lineup {
    background-color: #faa91a;
    font-size: xx-large;
    color: white;
}

.lineup-container {
    width: 60%;
}

.artiste-desc {
    /*height: 0%;*/

    position: relative;
    overflow: hidden;
}

.card-img-top {
    width: auto;
    height: 500px;
    object-fit: cover;
}

.row-card {
    padding-left: 0;
    padding-right: 0;
}
