.container-bloc{
    /*padding: 0 2rem;*/
    /*padding: 225px 100px;*/
}

.container-bg-yellow-premium{
    background-color: #FFCA2D;
    margin: 0;
    padding: 100px;
}

.container-img{
    float: left;
    margin: 70px;
}

.bloc-info{
    font-size: 24px;
    color: #ffffff;
    /*font-weight: bold;*/
}

/*.title-passe-premium{*/
/*    background-color: #43B4E7;*/
/*    margin: 0px 50px 0px 40rem;*/
/*}*/

.stay{
    margin: 20px 0px 10px 0px;
}

.place-premium{
    font-size: 18px;
    color: #43B4E7;
    font-weight: bold;
}

.info-ticketing{
    /*background-color: red;*/
}