.container-text{
    /*padding: 0 2rem;*/
    padding: 15px 100px;
}

.container-bg-blue{
    background-color: #43B4E7;
    margin: 0;
}

.container-bg-yellow{
    background-color: #FFCA2D;
    margin: 0;
}

.title-passe{
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}

.btn-passe{
    margin: 36px 0 0 0;
}

.date-passe{
    color: #F8393C;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.floatte{
    float: right;
    /*margin: 36px;*/
}